/*This is meant to parallax the body*/
body, html, main {
    height: 100%;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

h2 {
  text-shadow: .05em .05em #cccccc;
  font-family: 'El Messiri', sans-serif;
  padding-top: .5em;
  margin: 0;
  text-align: center;
}

div {
    display: block;
}

p {
  font-size: 1.7em;
  font-family: 'Cormorant SC', serif;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
  color: #777;
}

.projectText {
  margin: 0;
  padding: .2em;
  box-shadow: 0 0 .5em .5em #cccccc;

}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.bgimg-1 {
  background-image: url("imgs/Screenshot 2017-05-10 10.29.06.png");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("imgs/WikiTeadiaViews.jpg");
  min-height: 100%;
}

.bgimg-3 {
  background-image: url("imgs/Project 330sx.jpg");
  min-height: 100%;
}
