/*This is meant to parallax the body*/
body, html {
    height: 100%;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


div {
    display: block;
}

    .caption {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #000;
    }

    .bgimg-1 {
      background-image: url("imgs/2013-04-02 17.03.54.jpg");
      min-height: 100%;
    }

    .bgimg-2 {
      background-image: url("imgs/2015-06-29 13.24.06.jpg");
      min-height: 100%;
    }

    .bgimg-3 {
      background-image: url("imgs/2015-08-11 12.34.07.jpg");
      min-height: 100%;
    }
