/*Makes background image proper and responsive*/
html, body{
  height: 100%;
}

body {
			background-image: url("imgs/DSC01760_edited.jpg");
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;

}


div, body{
  margin: 0;
  padding: 0;
  font-family: exo, sans-serif;
}

.proRes {
  color: blue;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height:45%;
  bottom: 0;
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.15);
  color: #fff;
  padding: 0.5em;
}

.contact {
  display: flex;
  padding-top: .5em;
  padding-left: .5em;
  padding-right: .5em;
  /*justify-content: space-between;*/
  justify-content: flex-end;


}



/*Size the background image for the page*/
.homeBackground  {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.homeBackground img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
