@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

/*Size the background image for the page*/
.homeBackground {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*This is typing out the header*/
.typedHeader {
	/*font: bold 2em monospace;*/
  color: black;
	border-right: .1em solid black;
	width: calc(.51em * 18);
	/*width: 17ch;*/
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 3s steps(18, end),
	           blink-caret .5s step-end infinite alternate;
}

/*This is for the Projects, Resume, and About Me buttons*/
.optionButtons:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
